{% extends 'base.html' %} {% block content %}

<h1>About the Birdathon</h1>
<hr />
<br>
<p>This years Birdathon event takes place on the South Shore of Superior.
    Each person will wander out and take photos of the birds that you see.
    If the birds match any of those on the index page, each person may
    select the date and time of each bird they find. Unsure if you have
    seen the right bird? Click on each bird to read more information
    about it. Please be honest!
</p>
{% endblock %}